<div class="container">
    <div class="wrapper" *ngFor="let item of items">
        <div class="image-wrapper">
            <img [src]="'assets/images/items/' + item.imageSource" [alt]="item.title">
        </div>
        <div class="title-wrapper">
          <p class="title">{{item.title}}</p>
        </div>
        <p>Price: {{item.price}}</p>
        <div class="item-buttons">
            <app-custom-button (click)="addToCart(item)" title="Add to Cart"></app-custom-button>
            <app-custom-button (click)="addToFavorites(item)" title="Add to Favorites"></app-custom-button>
        </div>
    </div>
</div>