<div class="sidebar">
    <ul>
        <li>
            <button>All</button>
        </li>
        <li>
            <button>Electric Guitars</button>
        </li>
        <li>
            <button>Acoustic Gutiars</button>
        </li>
        <li>
            <button>Electric Guitar Amps</button>
        </li>
        <li>
            <button>Electric Guitar Effects</button>
        </li>
        <li>
            <button>Basses</button>
        </li>
        <li>
            <button>Drums</button>
        </li>
    </ul>
</div>